*{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.body{
    background-image: url("../Imagens/escamas2.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    color: #FFD700;
}

.cabecalho{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    padding: 0 2.5rem;
    height: 4rem;
    border-bottom: 5px solid #FFD700;

}
/* #a020f0 */
.logo{
    padding: 0.4rem;
}

.menu{
    display: flex;
    list-style: none;
    
}

.menu a{
    border-radius: 5px;
    background-color:#a020f0 ;
    margin-left: 10px;
    padding: 0.4rem;
    cursor: pointer;
    text-shadow: 
    1px 1px 0px black, 
    -1px -1px 0px black, 
    1px -1px 0px black, 
    -1px 1px 0px black; /* Borda em volta do texto */

}