@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300&display=swap');



* {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.logo{
  height: 2.5rem;
  width: 3rem;
}

.body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, rgba(111, 14, 141, 0.9), rgba(0, 0, 0, 0.9));
  color: rgb(255, 215, 0);
}

.cabecalho {
  /* background-color: rgb(85, 37, 131, 0.5); */
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* border-bottom: 1px solid #ffd700; */
}

.cabecalho .logo {
  padding: 0.4rem;
}

.cabecalho .menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1.2rem;
}

.cabecalho .menu .itens {
  color: rgb(255, 215, 0);
  display: block;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.menu .itens:hover {
  background-color: rgb(255, 215, 0);
  color: #151515;
  transition-duration: 0.5s;
}

.sec-inicial .home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home .img-position .img {
  height: 400px;
  width: 300px;
  filter: drop-shadow(0px 0px 15px rgb(255, 215, 0));
  margin-left: 4rem;
}

.corpo-conteudo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}

.corpo-conteudo .sec-inicial {
  display: flex;
  border-bottom: 1px solid rgb(255, 215, 0);
  width: 100%;
  height: 70vh;
  padding: 2rem 0;
}
.introducion, .img-position{
  width: 50%;
}

.introducion{
  padding: 2rem;
  text-align: center;
}

.introducion .titulo-slogan{
  font-size: 3rem;
  margin-bottom: 4rem;
  color: rgb(255, 215, 0);
}

.introducion .texto-introdution{
  font-size: 1rem;
  color: #ffffff;
}


/* SOBRE O PROJETO SECTION 2 */

.corpo-conteudo .sec-sobre {
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 215, 0, 0.9)); */
  /* background-color: rgba(111, 14, 141, 0.9); */
  display: flex;
  border-bottom: 1px solid rgb(255, 215, 0);
  width: 100%;
  height: 70vh;
  padding: 2rem 0;
}