@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color:rgba(0, 0, 0);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.logo{
    width: 10%;
    margin: 0;
    margin-left: 30px;
    padding: 10px;
}

header{
    background-color: rgba(0, 0, 0, 0.8);
    
}

.container-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-login{
    display: flex;
    text-align: center;
    height: 100vh;
    width: 100% 
}

.cadastro{
    margin: 2rem;
}
.img-painel{
    display: block;
    background-image: url('../Imagens/kobe4.jpg');
    filter: brightness(50%);
    background-size: cover;
    width: 50%;
    height: 100%;
}

.card{
    background-color: rgb(48, 50, 52);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    color:white;

}



.formulario-cadastro{
    display: flex;
    height: 90%;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 70px;
 
}

.formulario{
    display: flex;
    height: 25%;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}


.ipt-login{
    outline: none;
    border: none; 
    border-bottom: 2px solid  rgb(255, 215, 0);
    margin: 0;
    margin-bottom: 0.8rem;
    height: 25px;
    background-color: transparent;
    color: #000;
    font-size: 15px;
    padding: 2px;
    width: 100%;
}

.campo{
    display: flex;
    flex-direction: column;
   margin-bottom: 20px ;
}

.button{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 0.6rem 2rem;
    align-self: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    line-height: 30px;
}

.button:hover{
    background-color: white;
    color: #000;
}


span {
    text-align: center;
}



.cadastro_realizado{
    color: rgba(255, 255, 255, 0.8); 
    font-size: 15px;
    margin-top: 10px;
}

.cadastro{
    padding: 20px;
}

footer{
    padding: 0.4rem 0 ;
	background-color:rgb(255, 215, 0);
	width: 100%;
	text-align: center;
    margin-top: auto;
}
.texto-ipt{
    padding: 0.8rem;
}

footer .spn-footer{
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
}

.icon{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
   
}
.titulo-login{
    margin-bottom: 4rem;
    color: rgb(255, 215, 0);
}

.icon i{
    margin-right: 15px;
    font-size: 20px;
    position: absolute;
}

.icon input{
    margin-left: 30px;
    margin-right: 30px;

}